body{
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
#barradinavigazione{
    position: relative;
    align-items: center;
    display: flex;
    left: 20%;
}
#logo{
    position: relative;
    width: auto;
    height: 131px;
    right: 218px;
}
#menu_container{
    position: relative;
    display: flex;
    right: 229px;
}
.menu {
    padding: 25px;
    list-style-type: none;
}
.link{
    font-size: 20px;
    font-family: fantasy;
    color: black;
    text-decoration: none;
}
#btn{
    font-family: fantasy;
    font-size: 16px;
    border: 3px solid aqua;
    background: transparent;
    width: 115px;
    height: 32px;
    position: relative;
    left: 218px;
}
#container{

}
#box_tt{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    align-items: center;
}
#p1{
    font-family: fantasy;
    font-size: 25px;
}
#titolo1{
    margin-top: -20px;
    text-align: center;
    width: 700px;
    
    font-size: 77px;
}
#p2{
    margin-top: -20px;
    text-align: center;
    width: 471px;
    font-size: 22px;
}
#box_input{
    display: flex;
    justify-content: center;
}
#input{
    font-size: 16px;
    border: none;
    margin-right: 7px;
    width: 265px;
    height: 35px;
}
#btn2{
    border: transparent;
    border-radius: 7px;
    font-size: 16px;
    color: whitesmoke;
    background-color: orange;
    width: 111px;
}
#p3{
    position: relative;
    left: 43%;
}