body{
   
    
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
#cont{
    display: flex;
    align-items: center;
}
#barradinavigazione{
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    position: relative;
    align-items: center;
    display: flex;
    left: 0;
}
#logo{
    position: relative;
    width: auto;
    height: 131px;
}
#menu_container{
    position: relative;
    display: flex;
    right: 0;
}
.menu {
    padding: 25px;
    list-style-type: none;
}
.link{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
}
#btn{
    color: #065edc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 3px solid #065edc;
    background: transparent;
    width: 115px;
    height: 32px;
    position: relative;
 
}
#container{

}
#box_tt{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    align-items: center;
}
#p1{
    margin-bottom: 49px;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 20px;
    color: #858585;
}
#titolo1{
    margin-top: -20px;
    text-align: center;
    width: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 77px;
}
#p2{
    margin-top: -20px;
    text-align: center;
    width: 439px;
    font-size: 19px;
}
#box_input{
    display: flex;
    justify-content: center;
}
#input{
    font-size: 16px;
    border: none;
    margin-right: 7px;
    width: 265px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
}
#btn2{
    border: transparent;
    border-radius: 7px;
    font-size: 16px;
    color: whitesmoke;
    background-color: orange;
    width: 111px;
    font-family: 'Roboto', sans-serif;
}
#box_pp{
    justify-content: center;
    display: flex;
    align-items: center;
}
#p3{
    color: #9f9f9f;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1285.60px) {
    #btn{
        left:0px;
    }
}
    
  